@import '~@angular/material/theming';


@include mat-core();


$second-primary: (
  50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,

  )
);

$second-accent : (

  50 : #fffaed,
  100 : #fff4d1,
  200 : #ffecb3,
  300 : #ffe494,
  400 : #ffdf7d,
  500 : #ffd966,
  600 : #ffd55e,
  700 : #ffcf53,
  800 : #ffca49,
  900 : #ffc038,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5e1,
  A700 : #ffedc8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    
  )
);



$secondary-primary: mat-palette($second-primary, 300);
$secondary-accent:  mat-palette($second-primary, 200);

$secondary-warn:    mat-palette($mat-red);


$secondary-theme: mat-light-theme((
  color: (
    primary: $secondary-primary,
    accent: $secondary-accent,
    warn: $secondary-warn,  
  )
));

@import 'app/navigation/navtabs/navtabs.component-theme.scss';

@include angular-material-theme($secondary-theme);

// Navtabs component CSS file
@include navtabs-component-theme($secondary-theme);




.mat-list-option:hover,
.mat-list-option.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item.mat-list-item-focus {
  background-color: mat-color($secondary-primary, 300);
  color: mat-color($secondary-primary, 200);
}
